.uidiv {
    width: 377px;
    height: 80px;
    
    
}
.card-img-top {
    height: 300px;        /* Set a fixed height */
    object-fit: cover;    /* Ensure the image fills the area nicely */
    width: 100%;          /* Make it responsive */
  }
