/* App.css or global stylesheet */
.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
    background-color: #fdfdfd; /* Soft off-white */
    margin: 0;
    font-family: 'Helvetica', sans-serif;
  }
